{% extends 'apartments/base.html' %}
{% load static i18n  %}
{% block title %}{% trans "Apartments" %}{% endblock title %}
{% block content %}
<h1>{% trans "Apartments available" %} : {{ apartment_count }}</h1>
<ul>
    <form action="{% url 'apartments' %}" method="get">
        <input type="text" name="search" value="{{ request.GET.search }}">
        <button type="submit">{% trans "search" %}</button>
    </form>
</ul>
<ul class='apartment_list'>
    {% csrf_token %}
    {% for apartment in apartment_list %}
        <li class='apartment'>
            <a href="{% url 'apartment' apartment.pk %}">
                {% if apartment.photo %}
                    <img src="{{apartment.photo.url}}">
                {% else %}
                    <img src="{% static 'apartments\css\rental_apartments\media\photo\ap11.jpg' %}">
                {% endif %}
                <h3>{{ apartment.name }}</h3>
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock content %}
