{% extends 'apartments/base.html' %}
{% load i18n %}
{% block title %} {% trans "Welocome to" %} {{block.super}}{% endblock title %}
{% block content %}
<h1>{% trans '"The best Apartments" - Reservation page' %}</h1>
{% if form.errors %}
    <p class="form-error">{{ ValidationError }}</p>
{% endif %}
<form action="" method="post">
    {% if reservation_instance %}
        <p>{{ reservation_instance.reservation }}</p>
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <button class="button" type="submit">{% trans "Reservation" %}</button>
    </p>
</form>
{% endblock content %}

