{% extends 'apartments/base.html' %}
{% load static i18n  %}
{% block title %}{% trans "Password reset" %}{% endblock title %}
{% block content %}
<h1>{% trans "Password reset" %}</h1>
{% if validlink %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <p><button type="submit">{% trans "Password reset" %}</button></p>
    </form>
{% else %}
    <p class="form-error">{% trans "Error! Please request new link for reset" %} <a href="{% url 'password_reset' %}">{% trans "Password reset" %}</a></p>
{% endif %}
{% endblock content %}
